# gitignore Documentation - http://git-scm.com/docs/gitignore

# Log
**/logs/

# TestNG
test-output/

# Gradle
.gradle/

# Maven
**/target/

.clover/

# IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project
